<mat-card>
  <mat-card-title>MAF FLEX Dealer Registration TESTING</mat-card-title><br>
  <mat-card-content *ngIf="dealerForm">
    <form [formGroup]="dealerForm" (ngSubmit)="onSubmit()">

      <div class="row">
        <div class="col-sm-3 col-xs-3">
          <h1>Your Info</h1>
        </div>
        <div class="col-sm-9 col-xs-9">
          <div>
            <mat-form-field appearance="outline" class="dealer outlinepadding">
              <mat-label>Dealer name</mat-label>
              <input matInput formControlName="dealername" placeholder="Dealer name" maxlength="40">
              <mat-error *ngIf="dealername.invalid">Dealer name is invalid</mat-error>
            </mat-form-field>
          </div>

          <div>
              <mat-form-field appearance="outline" class="firstname outlinepadding">
                <mat-label>First name</mat-label>
                <input matInput formControlName="firstName" placeholder="First name" maxlength="15">
                <mat-error *ngIf="firstName.invalid">First name is invalid</mat-error>
              </mat-form-field>&nbsp;
              <mat-form-field appearance="outline" class="lastname outlinepadding">
                <mat-label>Last name</mat-label>
                <input matInput formControlName="lastName" placeholder="Last Name" maxlength="15">
                <mat-error *ngIf="lastName.invalid">Last name is invalid</mat-error>
              </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="dealer outlinepadding">
              <mat-label>Email address</mat-label>
              <input matInput placeholder="Email address" formControlName="email" maxlength="40">
              <mat-error *ngIf="email.hasError('emailTaken')">
                Email address is taken in FLEX
              </mat-error>
              <mat-error *ngIf="email.hasError('required')">
                Email is
                <strong>required</strong>
              </mat-error>
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Email address is invalid
              </mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="dealer outlinepadding">
              <mat-label>Address</mat-label>
              <input matInput formControlName="address" placeholder="Address Line 1" maxlength="40">
              <mat-error *ngIf="address.invalid">Please enter a valid address</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field appearance="outline" class="dealer outlinepadding">
              <mat-label>Address 2</mat-label>
              <input matInput formControlName="address2" placeholder="Address Line 2" maxlength="40">
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="city mr-13" appearance="outline" class="city outlinepadding">
              <mat-label>City</mat-label>
              <input matInput formControlName="city" placeholder="City" maxlength="30">
              <mat-error *ngIf="city.invalid">Please enter a valid city</mat-error>
            </mat-form-field>&nbsp;
            <mat-form-field class="state ml-13 outlinepadding" appearance="outline">
              <mat-select formControlName="state">
                <mat-option *ngFor="let s of states" [value]="s.value">
                  {{ s.viewValue }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="state.invalid">State is required</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class="zipCode" appearance="outline" class="zipcode outlinepadding">
              <mat-label>Zip code</mat-label>
              <input matInput formControlName="zip" placeholder="Zip" maxlength="5">
              <mat-error *ngIf="zip.invalid">Zipcode is invalid</mat-error>
            </mat-form-field>&nbsp;
            <mat-form-field class="county outlinepadding" appearance="outline">
              <mat-select formControlName="county" placeholder="County">
                <mat-option *ngFor="let county of counties" [value]="county">
                  {{ county }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="businessphone outlinepadding">
              <mat-label>Business phone</mat-label>
              <input matInput formControlName="phone" placeholder="Business Phone" maxlength="10" type="text">
              <mat-error *ngIf="phone.invalid">Phone number is invalid</mat-error>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 col-xs-3">
          <h1>Your Dealership</h1>
        </div>

        <div class="col-sm-9 col-xs-9">
          <div>
            <mat-checkbox formControlName="submitFromDT" color="primary"></mat-checkbox> Will you be submitting
            through
            DealerTrack?
          </div>
          <br />

          <div>
            <mat-form-field class="DMSWidth outlinepadding" appearance="outline">
              <mat-select formControlName="DMSId" placeholder="Your Dealership Management System">
                <mat-option *ngFor="let d of DMSValues" [value]="d.value">
                  {{ d.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="DMSWidth" appearance="outline" class="dealer outlinepadding">
              <mat-label>Other Dealership Management System</mat-label>
              <input matInput formControlName="DMSOther" placeholder="Other Dealership Management System"
                maxlength="40">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="DMSWidth outlinepadding" appearance="outline">
              <mat-select formControlName="referredById" placeholder="Referred by">
                <mat-option *ngFor="let d of ReferredByValues" [value]="d.value">
                  {{ d.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-sm-3 col-xs-3">
          <h1>Your Taxes</h1>
        </div>

        <div class="col-sm-9 col-xs-9">
          <mat-form-field appearance="outline" class="taxpercent outlinepadding">
            <mat-label>Sales tax %</mat-label>
            <input type="number" matInput formControlName="stateSalesTax" placeholder="Sales Tax Percent">
            <mat-error *ngIf="stateSalesTax.invalid">Please enter a valid sales tax</mat-error>
          </mat-form-field>&nbsp;
          <mat-form-field appearance="outline" class="taxpercent outlinepadding">
            <mat-label>County tax %</mat-label>
            <input type="number" matInput formControlName="countyTax" placeholder="County Tax Percent" maxlength="5">
            <mat-error *ngIf="countyTax.invalid">Please enter a valid county sales tax</mat-error>
          </mat-form-field>
        </div>

      </div>

      <p>
        <button id="bnSubmit" color="accent" type="submit" color="primary" mat-raised-button>Submit</button>
      </p>
      
    </form>
    <br />
    <span style="color:red">{{ errorMessage }}</span>

    <!-- <p>Form: {{ dealerForm.value | json }}</p> -->
    <!-- <p *ngIf="dealerForm">Form status: {{ dealerForm.status }}</p> -->

    <!-- <p>city errors: {{ city.errors | json }}</p>-->
    <!-- <p>zip errors: {{ zip.errors | json }}</p>   -->
    <!-- <p>submitFromDT: {{ submitFromDT.value }}</p>  -->

    <!-- <p>state errors: {{ state.errors | json }}</p>
      <p>state value: {{ state.viewValue }}</p> -->

  </mat-card-content>
</mat-card>